.query_snippet_container{
    border-radius: 10px;
}
.query_snippet_container:hover{
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}
.article_container {
    margin: 20px;
}