.card_container:hover{
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}
.card_container{
    border-radius: 25px;
}
.market_tendency_container {
    margin: 0px;
}
.search_container {
    background: rgb(201, 173, 167,0.4);
    margin-bottom: 20px;
}
.get_market_report_container{
    margin-bottom: 20px;
}